* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icons i{
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;

}

.contact-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;

}

.contact-nav div {
    display: flex;
    align-items: center;

}

.contact-nav button {
    background-color: rgb(218, 233, 82);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
}

.icons .fa-solid {
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.right-hero img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid rgb(218, 233, 82);
    padding: 50px;
}

.left-hero h1 {
    font-weight: 300;
    font-size: 54px;

}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-hero h1 span {
    font-weight: bold;
    font-size: 54px;
}

.left-hero p {
    font-weight: bold;
}

.left-hero button {
    background-color: rgb(218, 233, 82);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    width: 150px;
    cursor: pointer;

}

.salad {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8fbdc;
    padding: 100px;
    margin-top: 20px;
    gap: 10px;
}

.salad h1,
.salad p {
    text-align: center;
}

.salad .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.salad .row .col img {
    width: 140px;
}

.salad .row .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #f8fbdc;
}

.welcome img {
    width: 500px
}

.welcome div {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.welcome div button {
    background-color: rgb(218, 233, 82);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.welcome div h1 {
    font-size: 34px;
    text-align: center;
}

.welcome div p {
    font-size: 24px;
    text-align: center;
}

.our-chef {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 100px;
    margin: 0;
}

.our-chef img {
    width: 420px;
    background-image: url(images/img-bg.png);
    background-position: bottom;
    background-size: 400px;
    background-repeat: no-repeat;
}

.our-chef div {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.our-chef div h1 {
    font-size: 50px;
    text-align: center;
}

.our-chef div p {
    text-align: center;
    font-size: 23px;

}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    padding-top: 0;

    align-items: center;
}

.promo div {
    background: url(images/hall.png);
    width: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
}

.promo p {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.promo form {
    background: white;
    border-radius: 10px;
    padding: 10px 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo form input {
    outline: none;
    border: none;
}

.promo form button {
    background-color: rgb(218, 233, 82);
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background-color: rgb(218, 233, 82);
    ;

}

footer div {
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6px;
}

footer div p a {
    text-decoration: none;
    color: black;
}

.our-customer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 36px;
    margin: 0;
    flex-direction: column;
}

.our-customer h1 {
    font-size: 40px;
    align-items: center;
 text-align: center;
    align-items: center;
    justify-content: center;
}
.our-customer p {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.our-customer .customers{
    display: flex;
}
.our-customer .customers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 600px;
}
.our-customer .customers div{
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
    gap: 30px;
}
.our-customer .customers div img{
   width: 76px;
}
.togglenav{
    display: none !important;
}
.fa-bars{
    display: none;
}
/* media queris */
@media(max-width:930px){
    .fa-bars{
        display: block !important;
        cursor: pointer !important;
        font-size: 24px;
        font-weight: bold;
    }
    .welcome{
        flex-direction: column;
    }
    .our-chef, .customers, footer, .about{
        flex-direction: column;
        width: 100%;
    }
    nav{
        justify-content: space-between;
    }
    .nav-right{
        background: red;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        right: 2px !important;
        top: 50px;
        width: 200px;
    }
    .nav-right ul{
        flex-direction: column;
    }
    .nav-right .contact-nav{
        flex-direction: column;
    }
} 
/* media queris */
@media(max-width:900px){
    .salad .row{
        display: flex;
    align-items: center;
    flex-direction: column;
   
   

    }
    .salad .row .col{
       width: 100%;
    }
}
@media(max-width:770px){
    .hero{
        flex-direction: column;
    }
    .hero img{
        width: 300px;
        height: 300px;
    }
}
/* about */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 90vh;
}
.about div{
    width: 400px;
}
.about div img{
    width: 300px;
}
.about p{
    margin-top: 30px;
    font-size:20px;
}
/* recipe */
 .recipe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 70vh;
 }
 .product-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }


 .product-text h4{
    color: red;
    font-size: 30px;

 }

 .product-text a{
    text-decoration: none;
    text-transform: uppercase;
    color: rebeccapurple;
 }